.block{
    width: 100%;
    background-color: aliceblue;
    border-radius: 10px;
    padding:  10% 0;
    margin: 15% 0;
}
input{
    width: 70%;
    margin: 7% 15%;
    border: none;
    padding: 1px 7px;
    border-bottom: solid 2px gray;
    outline:none;
}