.square {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border-radius: 20px;
    border: 2px solid black;
}
.hello {
    width: 100px;
    height: 100px;
}
.row {
    margin-top: 10px;
}
body {
    background-color: dimgray;
}
